
.soporte {
    padding: 50px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  
  .formulario {
    display: inline-flex;
    margin: 50px; }
  
  .BodySoporte {
    background-image: url(../imagenes/auri.jpg); }
  
  .Botton {
    display: flex;
    margin: 60px;
    color: #000000; }
  